



<div class="title">
<h2><%=@article.title%></h2>&nbsp;&nbsp;<%= link_to edit_article_path(@article) do %>
<%= fa_icon "pencil" %>
<% end %>
&nbsp;&nbsp;<%= link_to article_path(@article),
  method: :delete,
  data: { confirm: "Are you sure?" } do %>
<%= fa_icon "trash" %>
<% end %>
</div>


<div class='articleDetail'>
<%= @article.content %>
</div>
<%= link_to "Back to list", articles_path %>
