
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="title"><%=@article.title%>&nbsp;<%= link_to edit_article_path(@article) do %>
      <%= fa_icon "pencil" %>
        <% end %>&nbsp;<%= link_to article_path(@article),
        method: :delete,
        data: { confirm: "Are you sure?" } do %>
        <%= fa_icon "trash" %>
        <% end %>
      </div>
    </div>
    <div class='content'>
      <%= @article.content %>
    </div>
  </div>
      <%= link_to "Back to list", articles_path %>

</div>

